@import 'reset.scss';
@import 'var.scss';

body {
	background: $bg-color;
	color: $text-color;
}
.scroll {
    position: fixed;
    left:0;
    top: 0;
    width: 0%;
    height: 4px;
    background-color: red;

}
.wrapper {
	padding: $step;
}
.menu {
	display: none;
}
.menu-open .info-text {
    transform: translate(80%);
}
.header {
    display: flex;
    height: calc(100vh - 160px);
    width: 100%;
    margin: 0 0 $step;
    position: relative;
    transition: all 2s;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    z-index: 1;
}
.logo {
	position: fixed;
	width: 100%;
	height: $step;
	background: $bg-color;
	top: 0;
	left: 0;
	padding: 40px $step;
    z-index: 100;
	a {
		font-family: 'Yeseva One';
		font-size: 24px;
		font-weight: 300;
        letter-spacing: -0.1em;
		&:hover {
			text-decoration: none;
			color: #000;
			letter-spacing: -0.1em;
		}
	}
}
a {
    text-decoration: none;
    color: #000;
	&:active {
		text-decoration: none;
		color: #000;
	}
}

.info {
	display: flex;
	flex-grow: 1;
	flex-basis: 50%;
	justify-content: flex-end;
	align-items: center;
    background-color: $bg-brand;
}
.hero {
	background: $bg-content;
	flex-grow: 1;
	flex-basis: 50%;
	display: flex;
	align-items: center;
}
.hero-text {
    font-family: playfair display, serif;
    font-size: $step;
    font-weight: 700;
    width: 485px;
    color: $bg-content;
    white-space: nowrap;
    overflow: hidden;
    animation: type 1.5s steps(30, end), cursorblink 1s step-end infinite;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}
.feature {
    color: #5580ad;
    font-family: playfair display,serif;
    font-size: 80px;
    font-weight: 700;
    width: 398px;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: type 1.5s steps(30),cursorblink 1s step-end infinite;
    animation: type 1.5s steps(30),cursorblink 1s step-end infinite;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-left: 10px;
        & .dot {
            color: $bg-brand;
          
        }
        & .feature {
            display: block;
            width: 400px;
            font-size: $step;
            color: $text-color;
            border-right: 5px solid #424242;
        }
    }

.header {
    .burger-menu {
        width: 56px;
        height: 30px;
        position: fixed;
        top: 48%;
        left: 55px;
        cursor: pointer;
        z-index: 50;
    }
}


.burger-menu {
        .burger-menu-line {
            display: block;
            width: 48px;
            height: 3px;
            background-color: $bg-color-dark;
            position: relative;
            &:after {
                content: "";
                display: block;
                width: 48px;
                height: 3px;
                background: $bg-color-dark;
                position: absolute;
                left: 0;
                top: 24px;
                
            }
            &:before {
                content: "";
                display: block;
                width: 48px;
                height: 3px;
                background: $bg-color-dark;
                position: absolute;
                left: 0;
                left: 10px;
                top: 12px;
                transition: 0.7s;
            }
        }
    }
    .menu-open {
         color-boxes {
        transition: .5s all cubic-bezier(.87,-.41,.19,1.44);
        transition-duration: 0.7s;
        position: sticky;
        top: 0;
    }
    .burger-menu-line {
        background: $bg-brand;
        transform: rotate(-45deg);
        transition: 0.7s;
        z-index: 100;
        &:before {
            background: $bg-brand;
            transform: rotate(90deg);
            position: relative;
            transition: 0.7s;
            top: 0;
            left: 0;
        }
        &:after {
            display: none;
        }
    }
    .nav {
        display: flex;
        justify-content: center;
        a {
            color: #fff;
        }
    }
    .nav-item {
        a {
            &:hover {
                transition: all 50ms ease-in-out;
            }
        }
    }
}
.menu {
    position: fixed;
    display: block; 
    height: 100vh;
    width: 400px;
    top: 0;
    background-color: #fff;
    visibility: hidden;
}
.menu-open .menu {
    visibility: visible;
    border-right: 3px solid $bg-brand;
    opacity: 0.9;
}
.nav-item {
    display: none;
}
.menu-open {
	.nav-item {
		display: block;
		font-size: 32px;
		font-weight: 800;
		color: #1f1f1f;
		padding: 20px 100px;
		text-decoration: none;
		position: relative;
		.nav-item-link {
			position: relative;
			&:before {
				color: $bg-brand;
				content: '{';
				display: block;
				font-size: 1.5em;
				left: -23px;
				opacity: 0;
				position: absolute;
				top: -8px;
			}
			&:after {
				color: $bg-brand;
				content: '}';
				display: block;
				font-size: 1.5em;
				opacity: 0;
				position: absolute;
				right: -23px;
				top: -8px;
			}
			&:hover {
				&:before {
					left: -23px;
					opacity: 1;
					transition: 2s;
				}
				&:after {
					opacity: 1;
					right: -23px;
					transition: 2s;
				}
			}
		}
	}
}
.menu-open .nav-item:first-child {
    margin-top: 100px;
}
.menu-phone-number {
	padding: 100px;
	font-size: 22px;
}

// envelope 

.menu-open .box-email{
	cursor: pointer;
	margin: 0 100px;
	position: relative;
	display: block;
}
.menu-open .email-envelope {
	width: 140px;
	height: 85px;
	background-color: #EEF2F6;
	display: block;
	position: relative;

}
.menu-open .email-envelope:before {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 55px 70px 0 70px;
	border-color: #5580ad transparent transparent transparent;
	-webkit-transform-origin: top center;
	-ms-transform-origin: top center;
	transform-origin: top center;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-o-transition: 0.4s;
	-ms-transition: 0.4s;
	transition: 0.4s;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
}
.menu-open .email-envelope:after {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 70px 42px 70px;
	border-color: transparent transparent #DDE5EE transparent;
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 0;
}
.menu-open .box-email:hover .email-envelope:before {
	-webkit-transform: rotateX(150deg);
	-moz-transform: rotateX(150deg);
	-ms-transform: rotateX(150deg);
	-o-transform: rotateX(150deg);
	transform: rotateX(150deg);
}
.menu-open .link-email{
	color: $bg-content;
	font-size: 24px;
	background-color: $bg-brand;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-o-transition: 0.4s;
	-ms-transition: 0.4s;
	transition: 0.4s;
	-webkit-transform: translateX(-50%) scale(0.8);
	-moz-transform: translateX(-50%) scale(0.8);
	-ms-transform: translateX(-50%) scale(0.8);
	-o-transform: translateX(-50%) scale(0.8);
	transform: translateX(-50%) scale(0.8);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	-webkit-opacity: 0;
	opacity: 0;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	filter: alpha(opacity=0);
	margin: 0;
	padding: 11px 5px;
	display: block;
    white-space: nowrap;
	position: absolute;
	z-index: 5;
	left: 50%;
	top: 0;
	border-radius: 10px;
}
.box-email:hover .link-email{
	-webkit-transform: translateX(-50%) scale(1);
	-moz-transform: translateX(-50%) scale(1);
	-ms-transform: translateX(-50%) scale(1);
	-o-transform: translateX(-50%) scale(1);
	transform: translateX(-50%) scale(1);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	-webkit-opacity: 1;
	opacity: 1;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	filter: alpha(opacity=100);
}


.arrow {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 102%;
  bottom: -2%;
  z-index: 15;
}
.arrow svg {
    position: relative;
    animation: bounce ease 1s infinite;
}
@keyframes bounce {
  0 {
    bottom: 0;
  }
  100% {
    bottom: -25px;
  }
}

.arrow .scroll {
    transform: rotate(180deg);
    padding-top: 20px;
    font-size: 18px;
    line-height: 25px;
    writing-mode: vertical-lr;
   
}
.links {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 25px;
    top: 0; 
    height: 100vh;
    & li {
        margin-top: 10px;
    }
    & li {
        svg {
            * {
                fill: $brand-color;
                    &:hover {
                        transition: 0.3s ease;
                        fill: $bg-brand;
                    }
                }
            }
        }
    }



.dark-theme {
	background: $bg-color-dark;
	transition: 2s;
	.logo {
	    background: $bg-color-dark;
	    transition: 2s;
	    & a {
            color: $bg-color;
	    }
	}
	.skills {
	    background: #223345;
	    & h2 {
	    	color: $bg-content;
	    }
    }
    .skills .bar .info-bar span {
    	color: $bg-content;
    }
    .projects {
	    background: #223345;
	    h2 {
	    	color: $brand-color;
        }
        .projects-library {
            color: $bg-content;
            opacity: 0.8;
	    }
        a {
            color: $bg-brand;
        }
    }
	.hero {
		background: #223345;
		&-text {
			transform: translate(-247px,90px);
		}
	}
	.info {
		&-text {
	        h2 {
		        color: $brand-color;		       
	        }
	        p {		       
		        color: #fffef2;
		        opacity: 0.8;
	        }
		}
	}
	header:after,
    header:before {
    	background: #223345;
    }
    .menu-open .menu {
        background: #111922;
    }
    .menu-open {
        .nav-item-link {
            color: $bg-content;
            opacity: 0.9;
        }
        .menu-phone-number {
            color: $bg-content;
            opacity: 0.9;
        }
    }
	.burger-menu-line {
	background: $brand-color;
	&:after {
		background: $brand-color;
	}
	&:before {
		background: $brand-color;
	}
}
    .social-info {
        color: $bg-content;
        svg {
            * {
                fill: $bg-content;
            }
        }
    }
    .social {
        .phone-number {
            color: $bg-content;
        }
    }
	.arrow {
        color: $bg-content;
        bottom: -20px;
        svg {
            * {
                fill: $bg-content; 
            }
        }
    }
    .arrow-bottom {
        svg {
            * {
                fill: $bg-content; 
            }
        }
    }
    .links {
        li {
            svg {
                * {
                    fill: $brand-color;
                    &:hover {
                        transition: 0.5s;
                        fill: $bg-brand;
                    }
                }
            }
        }
    }
    #timeline {
        background: #223345;
    }
    #dates li a {
        color: $bg-content;
    } 
    #issues li p {
        color: $bg-content;
    } 
    #issues .certificate {
        color: $bg-brand;
    }
}


// lamp 


#lamp-holder {
    position: fixed;
    left: 95%;
    top: 0;
}
#wire {
    position: relative;
    background-color: #000000;
    width: 2px;
    height: 150px;
    left: 50%;
    margin-left: 18px;
    z-index: 1;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-animation: swing .9s ease-in-out 0s infinite alternate;
    -moz-animation: swing .9s ease-in-out 0s infinite alternate;
    -ms-animation: swing .9s ease-in-out 0s infinite alternate;
    -o-animation: swing .9s ease-in-out 0s infinite alternate;
    animation: swing .9s ease-in-out 0s infinite alternate;
}
#wire:after {
    content: " ";
    left: -3px;
    top: 98%;
    position: absolute;
    border-bottom: 15px solid #000000;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    height: 0;
    width: 4px;
}
#light {
    position:relative;
}
input[value="off"]:checked ~
#wire {
    -webkit-box-shadow: -80px -10px 7px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: -80px -10px 7px 0 rgba(0,0,0,0.1);
    -ms-box-shadow: -80px -10px 7px 0 rgba(0,0,0,0.1);
    -o-box-shadow: -80px -10px 7px 0 rgba(0,0,0,0.1);
    box-shadow: -80px -10px 7px 0 rgba(0,0,0,0.1);
}
input[value="off"]:checked ~
#wire:after {
    -webkit-box-shadow: -80px -10px 10px -2px rgba(0,0,0,0.1);
    -moz-box-shadow: -80px -10px 10px -2px rgba(0,0,0,0.1);
    -ms-box-shadow: -80px -10px 10px -2px rgba(0,0,0,0.1);
    -o-box-shadow: -80px -10px 10px -2px rgba(0,0,0,0.1);
    box-shadow: -80px -10px 10px -2px rgba(0,0,0,0.1);
}
input {
    position: absolute;
    width: 90px;
    height: 70px;
    top: 150px;
    margin-left:-45px;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}
input[value="on"] {
    top: 150px;
}
input[value="off"] {
    top: -100px;
}
input[value="on"]:checked {
    top: -100px;
}
input[value="on"]:checked + input[value="off"] {
    top: 150px;
}
label {
    width: 51px;
    height: 51px;
    top: 163px;
    position: absolute;
    left: 0;
    margin-left: 4px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-animation: swingBulb .9s ease-in-out 0s infinite alternate;
    -moz-animation: swingBulb .9s ease-in-out 0s infinite alternate;
    -ms-animation: swingBulb .9s ease-in-out 0s infinite alternate;
    -o-animation: swingBulb .9s ease-in-out 0s infinite alternate;
    animation: swingBulb .9s ease-in-out 0s infinite alternate;
}           
input[value="off"]:checked ~
label {
    background: $bg-brand;
    -webkit-box-shadow: inset 0px 1px 5px rgba(255,255,255,0.1), inset 0px 2px 20px rgba(255,255,255,0.07), -80px -15px 15px -5px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0px 1px 5px rgba(255,255,255,0.1), inset 0px 2px 20px rgba(255,255,255,0.07), -80px -15px 15px -5px rgba(0,0,0,0.1);
    -ms-box-shadow: inset 0px 1px 5px rgba(255,255,255,0.1), inset 0px 2px 20px rgba(255,255,255,0.07), -80px -15px 15px -5px rgba(0,0,0,0.1);
    -o-box-shadow: inset 0px 1px 5px rgba(255,255,255,0.1), inset 0px 2px 20px rgba(255,255,255,0.07), -80px -15px 15px -5px rgba(0,0,0,0.1);
    box-shadow: inset 0px 1px 5px rgba(255,255,255,0.1), inset 0px 2px 20px rgba(255,255,255,0.07), -80px -15px 15px -5px rgba(0,0,0,0.1);
}
input[value="on"]:checked ~
label {
    background: $bg-content;
    -webkit-box-shadow: 0px 0px 10px rgba(255,255,255,0.8), 0px 0px 30px rgba(255,255,255,0.8), 0px 0px 50px rgba(255,255,255,0.6), 0px 0px 70px rgba(255,255,255,0.6), -80px -15px 120px 0px rgba(255,255,255,0.4);
    -moz-box-shadow: 0px 0px 10px rgba(255,255,255,0.8), 0px 0px 30px rgba(255,255,255,0.8), 0px 0px 50px rgba(255,255,255,0.6), 0px 0px 70px rgba(255,255,255,0.6), -80px -15px 120px 0px rgba(255,255,255,0.4);
    -ms-box-shadow: 0px 0px 10px rgba(255,255,255,0.8), 0px 0px 30px rgba(255,255,255,0.8), 0px 0px 50px rgba(255,255,255,0.6), 0px 0px 70px rgba(255,255,255,0.6), -80px -15px 120px 0px rgba(255,255,255,0.4);
    -o-box-shadow: 0px 0px 10px rgba(255,255,255,0.8), 0px 0px 30px rgba(255,255,255,0.8), 0px 0px 50px rgba(255,255,255,0.6), 0px 0px 70px rgba(255,255,255,0.6), -80px -15px 120px 0px rgba(255,255,255,0.4);
    box-shadow: 0px 0px 10px rgba(255,255,255,0.8), 0px 0px 30px rgba(255,255,255,0.8), 0px 0px 50px rgba(255,255,255,0.6), 0px 0px 70px rgba(255,255,255,0.6), -80px -15px 120px 0px rgba(255,255,255,0.4);
}
input[value="off"]:checked ~
label:after {
    content: " ";
    width: 15px;
    height: 15px;
    top: 0;
    position: absolute;
    left: 0;
    margin-left: 15px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(255,255,255,0.03);
}
@-webkit-keyframes swing {
    from {
        -webkit-transform:rotate(5deg);
    } to {
        -webkit-transform:rotate(-5deg);
    }
}
@-moz-keyframes swing {
    from {
        -moz-transform:rotate(5deg);
    } to {
        -moz-transform:rotate(-5deg);
    }
}
@-ms-keyframes swing {
    from {
        -ms-transform:rotate(5deg);
    } to {
        -ms-transform:rotate(-5deg);
    }
}
@-o-keyframes swing {
    from {
        -o-transform:rotate(5deg);
    } to {
        -o-transform:rotate(-5deg);
    }
}
@keyframes swing {
    from {
        transform:rotate(5deg);
    } to {
        transform:rotate(-5deg);
    }
}
@-webkit-keyframes swingBulb {
    from {
        -webkit-transform: rotate(3deg) translate(-16.4px,-1px);
    } to {
        -webkit-transform: rotate(-3deg) translate(16.4px,-1px);
    }
}
@-moz-keyframes swingBulb {
    from {
        -moz-transform: rotate(3deg) translate(-16.4px,-1px);
    } to {
        -moz-transform: rotate(-3deg) translate(16.4px,-1px);
    }
}
@-ms-keyframes swingBulb {
    from {
        -ms-transform: rotate(3deg) translate(-16.4px,-1px);
    } to {
        -ms-transform: rotate(-3deg) translate(16.4px,-1px);
    }
}
@-o-keyframes swingBulb {
    from {
        -o-transform: rotate(3deg) translate(-16.4px,-1px);
    } to {
        -o-transform: rotate(-3deg) translate(16.4px,-1px);
    }
}
@keyframes swingBulb {
    from {
        transform: rotate(3deg) translate(-16.4px,-1px);
    } to {
        transform: rotate(-3deg) translate(16.4px,-1px);
    }
}


.parallax {
	margin-bottom: $step;
    background-image: url("../img/Ist11.png");
    background-attachment: fixed;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}


.skills {
	border-radius: 10px;
	padding: 80px 100px;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
	margin-bottom: $step;
	.bar {
		margin: 30px 0;
		&:first-child {
			margin-top: 0;
		}
		.progress-line {
			position: relative;
			height: 11px;
			width: 100%;
			transform: scaleX(0);
			transform-origin: left;
			background: #f0f0f0;
			box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05), 0px 1px rgba(255,255,255,0.8);
	        animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
	        border-radius: 10px;
	    }
	}
}

.skills .bar .info-bar {
	margin-bottom: 5px;
}
.skills .bar .info-bar span {
	font-size: 19px;
	font-weight: 500;
	opacity: 0;
	animation: showText 1s 1s linear forwards;
	transition: 1s;
}
@keyframes showText {
	100% {
		opacity: 1;
	}
}
.bar .progress-line span {
	height: 12px;
	width: 0;
	background: $bg-brand;
	border-radius: 10px;
	position: absolute;
	transform: scaleX(0);
	transform-origin: left;
	animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transition: width 2s;

}
@keyframes animate {
	100% {
		transform: scaleX(1);
	}
}
.skills:hover .progress-line.html span{
	width: 100%;
}
.skills:hover .progress-line.javascript span {
    width: 80%;
}
.skills:hover .progress-line.bootstrap span{
	width: 100%;
}
.skills:hover .progress-line.responsive span {
	width: 100%;
}
.skills:hover .progress-line.jquery span {
	width: 70%;
}
.skills:hover .progress-line.scss span {
	width: 70%;
}
.skills:hover .progress-line.gulp span {
	width: 40%;
}
.skills:hover .progress-line.git span {
	width: 60%;
}
.bar .progress-line span:before {
	position: absolute;
	content: "";
	height: 0;
	width: 0;
	right: 0;
	top: -13px;
	border: 7px solid transparent;
	border-bottom-width: 0px;
	border-right-width: 0px;
	border-top-color: #000;
    opacity: 0;
	animation: showTex 0.5s 1.5s linear forwards;
}
.bar .progress-line span:after {
	position: absolute;
	content: "80%";
	right: 0;
	top: -33px;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	background: #000;
	padding: 4px 8px;
	border-radius: 3px;
	opacity: 0;
	animation: showTex 0.5s 1.5s linear forwards;
}
@keyframes showTex {
	100% {
		opacity: 1;
	}
}
.progress-line.html span:after {
	content:"100%";
}
.progress-line.javascript span:after {
    content:"80%";
}
.progress-line.bootstrap span:after {
	content:"100%";
}
.progress-line.responsive span:after {
	content:"100%";
}
.progress-line.jquery span:after {
	content:"70%";
}
.progress-line.scss span:after {
	content:"70%";
}
.progress-line.gulp span:after {
	content:"40%";
}
.progress-line.git span:after {
	content:"60%";
}


.parallax-two {
    margin-bottom: 80px;
    background-image: url("../img/istt.png");
    background-attachment: fixed;
    height: 100vh; 
    background-repeat: no-repeat;
    background-size: cover;
  

}


.projects {
	display: flex;
    flex-direction: column;
	border-radius: 10px;
	padding: $step;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
	margin-bottom: $step;
	h2 {
        color: $brand-color;
        margin-bottom: $step;
	}
    h3 {
        margin-bottom: 30px;
        font-weight: 800;
    }
    a {
        color: $bg-brand;
        font-size: 20px;
    }
    svg {
        position: relative;
        top: 16px;
        left: 11px;
        * {
            fill: $bg-brand;
        }
    }
}
.dot-coral {
    color: $bg-brand;
    font-size: 150px;
}

/*------------SLIDER----------->>>>>>>>>*/
.slick-slider{
    position: relative;

    .slick-arrow{
        top: 35%;
        position: absolute;
        width: 72px;
        height: 72px;
        transform: translateY(-40%);
        border: none;
        outline: none;
        font-size: 0;
        background: url("../img/arrleft.png") no-repeat;
        background-size: contain;
        cursor: pointer;

        &.slick-next{
            left: -60px;
        }
        &.slick-prev {   
            right: -60px;
            transform: translateY(-50%) scale(-1,1);
        }

    }

    .slick-slide {
        outline: none;
        margin: 0 auto;

        img{
            max-width: 100%;
            margin: 165px auto;
            width: 320px !important;
        }

        .caption{
            opacity: 0;
            text-align: center;
            padding-top: 10px;

            a{
                display: inline-block;
                
                font:16px;
            }

            h3{
                font-size: 20px;
                font-weight: 900;
            }

            span{
                font-size:18px;
                display: block;
            }
        }

        &.slick-center{
            opacity: 1;
            transition: opacity .4s ease-in;
            position: relative;
            z-index: 2;

            img{
                transform: scale(2.5);
                transition: transform .4s ease-in;
                -webkit-box-shadow: 0px 10px 13px -7px #000000, -16px -25px 26px 7px rgba(85,128,173,0); 
                box-shadow: 0px 10px 13px -7px #000000, -16px -25px 26px 7px rgba(85,128,173,0);
            }

            .caption{
                opacity: 1;
                transition: opacity .4s ease-in;
                
            }
        }
    }
}

.slick-slide:not(.slick-center) {
    opacity: 0.5;
    transition: opacity .4s ease-in;    
}




// timeline


.social {
    display: flex;
    justify-content: space-between;
}
.social-info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    svg {
        position: relative;
        top: 7px;
        left: 13px;
    }
}
.collaboration {
    margin-bottom: 20px;
    font-size: 22px;
    color: $brand-color;
}
.arrow-bottom {
    font-size: 40px;
    position: relative; 
    top: 98%;
    left: 100%;
}
.timeline {
  outline: 1px dashed hotpink;
  max-width: 1600px;
  margin-bottom: 100px;
  position: relative;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  padding: 80px 100px;
}
.timeline__year {
  margin-bottom: 32px;
  font-size: 72px;
  color: #000;
  text-align: center;
}
.timeline__control {
  outline: 1px dotted red;
  position: absolute;
  width: 40px;
  height: 80px;
  color: $bg-brand;
  font-size: 64px;
  line-height: 65px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s;
}
date {
    color: $brand-color;
}
@media (max-width:400px) {
  .timeline__control--back {
    left: 0.5rem;
  }
}
.timeline__control--back::before {
  content: '{';
}
.timeline__control--forward {
  right: 2rem;
}
@media (max-width:400px) {
  .timeline__control--forward {
    right: 0.5rem;
  }
}
.timeline__control--forward::before {
  content: '}';
}
.timeline__control.is-visible {
  visibility: visible;
  opacity: 1;
}
.timeline__dots {
  margin: 0 auto 48px auto;
  max-width: calc(100% - 100px);
  overflow: hidden;
  height: 72px;
  position: relative;
  outline: 1px dotted red;
}
@media (max-width:400px) {
  .timeline__dots {
    max-width: calc(100% - 50px);
  }
}
.timeline__dots::before,
.timeline__dots::after {
  content: '\0020';
  position: absolute;
  top: 0;
  z-index: 10;
  width: 20px;
  height: 100%;
}

.timeline__slider {
  position: absolute;
  left: 0;
  top: 8px;
  padding: 0.5rem 0;
  font-size: 0;
  text-align: center;
  white-space: nowrap;
  transition: left 0.5s;
}
.timeline__slider.is-touching {
  transition: none;
}
.timeline__dot {
  display: inline-block;
  vertical-align: top;
  width: 32px;
  height: 32px;
  margin: 0 24px;
  background-color: $brand-color;
  border-radius: 50%;
  position: relative;
  transition: all 0.25s;
  cursor: pointer;
}
.timeline__dot::after {
  content: attr(data-year);
  display: block;
  width: 200%;
  position: absolute;
  bottom: -20px;
  left: -50%;
  font-size: 14px;
  opacity: 0.5;
  transition: all 0.25s;
}
.timeline__dot.is-active {
  background-color: $bg-brand;
  box-shadow: 0 0 0 2px $bg-brand, 0 0 0 8px white, 0 0 20px 4px rgba(0, 0, 0, 0.25);
}
.timeline__dot.is-active::after {
  opacity: 0;
  transform: translateY(-8px) scale(0.5);
}
.timeline__text {
  outline: 1px dashed green;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 25px;
  line-height: 1.75;
  position: relative;
  transition: height 0.5s;
  overflow: hidden;
}
.timeline__textitem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s;
}
.timeline__textitem.is-active {
  opacity: 1;
  visibility: visible;
}
* {
  outline: 0 !important;
}


.certificate-basic:hover {
    color: $bg-brand;
}
.social-info:hover {
    fill: $bg-brand;
    transition: 0.7s;
    color: $bg-brand;
}
.certificate {
    display: flex;
    justify-content: center;
    align-items: center;
}

.certificates{
    display: block;
    border-radius: 10px;
    padding: $step;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    margin-bottom: $step;
}

.titles {
   font-size: $step; 
   margin-bottom: 50px;
   line-height: $step;
   color: #5580ad;
}
.arrleft {
    width: 45px;
}
.arrright {
    width: 45px;
    transform: scale(-1,1);
}
.closebtn {
    width: 35px;
}


/* Create four equal columns that floats next to eachother */
.column {
 display: flex;
 justify-content: center;
 cursor: pointer;
 margin-bottom: 50px;
}
.big-image {
    width:100%;
    max-width: 700px;
    margin-bottom: 20px;
}
.controls {
    display: flex;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.img-slider {
    width:100%;
    max-width:300px;
}
/* The Close Button */
.close {
  position: absolute;
  top: 20px;
  right: 25px;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 30%;
  width: auto;
  padding: 32px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
    left: 0;

}
.certificates-images {
    display: block;
    border-radius: 10px;
    padding: $step;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
    margin-bottom: $step;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
  margin-bottom: 20px;
}

img.demo {
  opacity: 0.6;
  width: 100%;
  max-width: 250px;
  margin-right: 20px;
}
.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.github-link {
    font-size: 50px;
    font-weight: 400;
    text-align: center;
}
@media only screen and (min-width: 376px) and (max-width: 1165px) {
.hero-text {
    font-size: 50px;
    width: 300px;
}
.feature {
    font-size: 50px;
    width: 300px;
}

.parallax {
    display: none;
}
.parallax-two {
    display: none;
}
.titles {
    font-size: 45px;
}
.box {
     padding: 40px 50px;
}
.skills .progress-line.html span{
    width: 100%;
}
.skills .progress-line.javascript span {
    width: 80%;
}
.skills .progress-line.bootstrap span{
    width: 100%;
}
.skills .progress-line.responsive span {
    width: 100%;
}
.skills .progress-line.jquery span {
    width: 70%;
}
.skills .progress-line.scss span {
    width: 70%;
}
.skills .progress-line.gulp span {
    width: 40%;
}
.skills .progress-line.git span {
    width: 60%;
}
.img-slider {
    max-width: 250px;
}
.slick-slider .slick-slide.slick-center img{
    transform: scale(2.0);
}
.github-link {
    font-size: 30px;

}
}
/* mobile */
@media only screen and (min-width: 375px) and (max-width: 415px) {
    .logo {
       padding: 30px 40px 30px 50px;
    }
    .wrapper {
        padding: 50px;
    }
    .hero-text {
    font-size: 30px;
    width: 150px;
}
.feature {
    font-size: 30px;
    width: 150px;
}
.header .burger-menu {
    top: 27%;
    left: 27px;
}
.parallax {
    display: none;
}
.parallax-two {
    display: none;
}
.titles {
    font-size: 30px;
    line-height: 50px;
}
.box {
     padding: 20px 25px;
}
.projects {
    display: none;
}
.column {
    flex-direction: column;
}
.github-link {
    font-size: 17px;
}
}

